header {
    background: #333333;
    margin: 0;
    padding: 20px;
    color: #ffffff;

    .container {
        display: flex;
        .logo {
            font-size: 20px;
            letter-spacing: 5px;
        }
        .nav {
            flex: 1
        }
        a {
            color: #ffffff;
        }

        ul {
            margin:0;
            text-align: right;

            li {
                display: inline;
                padding: 0 10px;
            }
        }
    }
}
